body {
  margin: 0;
}

p {
  margin: 3px 0;
}

.linkable-text:hover {
  cursor: pointer;
  text-decoration: underline;
  filter: brightness(0.5);
}

.text-blue {
  color: #008061;
}

/* Header */
header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
}
.logo:hover {
  cursor: pointer;
}

.logo-text {
  font-weight: bolder;
  font-size: larger;
  font-family: "Arial Narrow", Arial, sans-serif;
}

.menu {
  border: solid 1px black;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
}
.menu:hover {
  cursor: pointer;
  border: solid 2px black;
}

/* Main page */
.main-page {
  position: relative;
  background-image: url(./uber_home_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.otp-page {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-box {
  box-sizing: border-box;
  width: 400px;
  padding: 50px 30px;
  background-color: rgba(255, 255, 255, 0.85);
}

.otp-row {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.otp-input {
  box-sizing: border-box;
  width: 20%;
  padding: 20px;
  border: none;
  text-align: center;
  outline: none;
}

.submit-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.submit-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 5px;
  font-size: larger;
  outline: none;
}
.submit-btn:hover {
  cursor: pointer;
}

/* Footer */
footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.icon {
  margin: 0 5px;
  width: 30px;
  height: 30px;
}
.icon:hover {
  cursor: pointer;
}

.nav-link {
  display: inline-block;
}

.nav-link:nth-child(2) {
  margin: 0 5px;
  padding: 0 5px;
  border-left: solid 1px gray;
  border-right: solid 1px gray;
}
