body {
  margin: 0;
}

p {
  margin: 3px 0;
}

.linkable-text:hover {
  cursor: pointer;
  text-decoration: underline;
  filter: brightness(0.5);
}

/* Header */
header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}
.logo:hover {
  cursor: pointer;
}

.logo-text {
  font-weight: bolder;
  font-size: larger;
  font-family: "Arial Narrow", Arial, sans-serif;
}

.menu {
  border: solid 1px black;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
}
.menu:hover {
  cursor: pointer;
  border: solid 2px black;
}

/* Main page */
.bg-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-page {
  min-height: 100vh;
}

.info {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 90px 30px;
  padding: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-30 {
  width: 30%;
}

.col-50 {
  width: 50%;
}

/* Footer */
footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin: 0 5px;
  width: 30px;
  height: 30px;
}
.icon:hover {
  cursor: pointer;
}

.nav-link {
  display: inline-block;
}

.nav-link:nth-child(2) {
  margin: 0 5px;
  padding: 0 5px;
  border-left: solid 1px gray;
  border-right: solid 1px gray;
}
